<div id="footerBlock">
    <div class="footer-container1">
        <ul>
            <li><a href="" class="top-footer-link">Company</a></li>
            <li> <a href="">About Us</a></li>
            <li><a href="">Our Services</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Affiliate Program</a></li>
        </ul>
    </div>
    <div class="footer-container1">
        <ul>
            <li><a href="" class="top-footer-link">Get Help</a></li>
            <li> <a href="">FAQ</a></li>
            <li><a href="">Shipping</a></li>
            <li><a href="">Returns</a></li>
            <li><a href="">Order Status</a></li>
        </ul>
    </div>
    <div class="footer-container1">
        <ul>
            <li><a href="" class="top-footer-link">Flights</a></li>
            <li> <a href="">Trains</a></li>
            <li><a href="">Buses</a></li>
            <li><a href="">Hotels</a></li>
            <li><a href="">Store</a></li>
        </ul>
    </div>
    <div class="footer-container1">
        <ul>
            <li><a href="" class="top-footer-link">Contact Us</a></li>
            <li> <a href="">LinkedIn</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Mail</a></li>
        </ul>
    </div>
</div>