<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/styles.css">

    </head>

    <body>


        <div class="topNavBar">
            <div class="topSubNav1">
                <h1 class="mainHeading">WEBSITE NAME</h1>
            </div>

            <div class="topSubNav2">
                <div class="navBarTab">
                    <h2> <a href="/">Home</a> </h2>
                </div>
                <div class="navBarTab">
                    <h2> <a href="/admin">Admin</a> </h2>
                </div>
                <div class="navBarTab">
                    <h2><a href="/pilot">Pilot</a></h2>
                </div>
                <div class="navBarTab">
                    <h2><a href="/staff">Staff</a></h2>
                </div>
                <div class="navBarTab">
                    <h2><a href="/passenger">Passenger</a></h2>
                </div>
            </div>

        </div>