<%- include("partials/header.ejs"); -%>

<div class="topContent">
    <h1>Lorem ipsum dolor sit</h1>
    <div style="width: 60%;">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing <br> elit. Officia, molestiae.</h2>
    </div>

</div>

<div class="midContent">
    <h2 class="subHeading">Popular Flight Routes</h2>

    <div style="display: inline-block; height: 65%; width: 80%;  padding-top: 5vh; ">

        <div class="miniCards">
            <h2 class="miniCardsTextContentHead">Mumbai Flights</h2>
            <h2 class="miniCardsTextContentSub">From: <span>Goa, Delhi, Bangalore, Ahmadabad</span> </h2>
        </div>

        <div class="miniCards">
            <h2 class="miniCardsTextContentHead">Delhi Flights</h2>
            <h2 class="miniCardsTextContentSub">From: <span>Mumbai, Goa, Bangalore, Pune</span> </h2>
        </div>

        <div class="miniCards">
            <h2 class="miniCardsTextContentHead">Mumbai Flights</h2>
            <h2 class="miniCardsTextContentSub">From: <span>Goa, Delhi, Bangalore, Ahmadabad</span> </h2>
        </div>

        <div class="miniCards">
            <h2 class="miniCardsTextContentHead">Kolkata Flights</h2>
            <h2 class="miniCardsTextContentSub">From: <span>Mumbai, Delhi, Bangalore, Bagdogra</span> </h2>
        </div>

        <div class="miniCards">
            <h2 class="miniCardsTextContentHead">Hyderabad Flights</h2>
            <h2 class="miniCardsTextContentSub">From: <span>Mumbai, Goa, Bangalore, Delhi</span> </h2>
        </div>

        <div class="miniCards">
            <h2 class="miniCardsTextContentHead">Bangalore Flights</h2>
            <h2 class="miniCardsTextContentSub">From: <span>Mumbai, Delhi, Goa, Hyderabad</span> </h2>
        </div>

    </div>

</div>


<div class="midContent">
    <%- include("partials/accordion"); -%>
</div>


</body>


<footer>
    <%- include("partials/footer.ejs"); -%>
</footer>



</html>